<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vitasoft.DocMaker.Core.Properties.Settings.ORVD_TESTConnectionString"
            connectionString="Data Source=lex-home-server;Initial Catalog=ORVD_TEST;Persist Security Info=True;User ID=lex_admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>